################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CodemotionRome_AmieDD/.vs/CodemotionRome_AmieDD/v15/Server/sqlite3
